{% extends "layout.html" %}

{% block script %}
var lat=13.0456
var lon=80.232
var zoom=12
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var icon = new OpenLayers.Icon("/static/img/bus_stop_22.png",iconSize,iconOffset);
var map;
var layerStages;

// Change info below to style the route line
var style_black = {
    strokeColor: "#000000",
    strokeOpacity: 0.5,
    strokeWidth: 4,
    strokeDashstyle: "solid",
    pointRadius: 15,
    pointerEvents: "visiblePainted"
                };

$(document).ready(function() {
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
            var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Chennai");
            layerStages = new OpenLayers.Layer.Markers("Stages");
            var layerRoute = new OpenLayers.Layer.Vector("Route");
            map.addLayer(layerMapnik);
            map.addLayer(layerRoute);
            map.addLayer(layerStages);
            var points = [];
            {% for s in route.stages.all %}
                {% if s.latitude %}
                    var tempLat = {{s.latitude}};
                    var tempLon = {{s.longitude}};
                    addStage(tempLat, tempLon, {{s.id}});
                    points.push(new OpenLayers.Geometry.Point(tempLon, tempLat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()));
                {% endif %}
            {% endfor %}
            layerRoute.addFeatures(new OpenLayers.Feature.Vector(new OpenLayers.Geometry.LineString(points),null,style_black));
            map.zoomToExtent(layerRoute.getDataExtent());
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            map.setCenter (lonLat, zoom);
	});

function addStage(lat,lon,id) {
    var marker = new OpenLayers.Marker(new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()), icon.clone());
    marker.events.register("click", marker, function(e){
        window.location="view/stage/"+id; });
    layerStages.addMarker(marker);
}

{% endblock %}

{% block title %}
Bus Route: {{ route.display_name }} 
{% endblock %}

{% block main %} <span>Route Name: {{ route.display_name }}</span> <span>Route Type: {{ route.types }}</span>
<div id="view">
  <div id="table">
    <table id="stages">
      <tr>
        <th>Stage</th>
      </tr>
      {% for s in route.stages.all %}
      <tr class='stageentry'>
        <td><a href="{% url view.views.show_stage s.id %}">{{ s.display_name }}</a> {% if not s.latitude %} <a class="mapthis" href="{% url edit.views.edit_stage s.id %}">Map this Stage!</a> {% endif %} </td>
      </tr>
      {% endfor %}
    </table></div>
    <div id="map" />
  </div>
  <div class="clearfloat"></div>
</div>
{% endblock %} 