{% extends "layout.html" %}

{% block title %}
Bus Route: {{ route.display_name }} 
{% endblock %}

{% block main %}
<span>Route Name: {{ route.display_name }}</span>
<span>Route Type: {{ route.types }}</span>
<table id="stages">
	<tr>
		<th>Stage</th>
	</tr>
	{% for s in route.stages.all %}
	<tr class='stageentry'>
		<td> <a href="{% url view.views.show_stage s.id %}">{{ s.display_name }}</a>
	{% if not s.latitude %}	
		<a class="mapthis" href="{% url edit.views.edit_stage s.id %}">Map this Stage!</a>
	{% endif %}
	</td>
	</tr>	
	{% endfor %}
</table>
{% endblock %}
