{% extends "layout.html" %}

{% block title %}
Currently Unmapped: {{ unmapped_stages.count }} Stages
{% endblock %}

{% block main %}
<h1>List of Unmapped Stages</h1>
<div id="view">
<div id="table">
                <table id="stages">
                    <tr>
                        <th>Stage</th>
                    </tr>	{% for us in unmapped_stages %}
                    
                    <tr class='route_entry'>
                    <td>
	
  <a href="{% url view.views.show_stage us.id %}">{{us.display_name}}</a>	<a class="mapthis" href="{% url edit.views.edit_stage us.id %}">Map This Stage!</a></td>
  
  </tr>	
	{% endfor %}
      </table></div>
      
    
    <div id="map"></div><div class="clearfloat"</div></div>
{% endblock %}
