# copy to localsettings.py and modify accordingly

DATABASE_NAME = 'wtfimb'     # The name of the database

##### CHANGE THESE #####

DATABASE_USER = ''           # MySQL user name

DATABASE_PASSWORD = ''       # MySQL user password

########################

# THESE CAN BE LEFT AS THEY ARE
# IF DEVELOPING ON A LOCAL SYSTEM.

DATABASE_HOST = ''            
DATABASE_PORT = ''           

# DEBUG = True to get detailed Debug information
# Set DEBUG = False in production system

DEBUG = False

# Email Settings, for Account Verification
EMAIL_HOST = 'mail.busroutes.in'

#Enter any random key that will be used to salt the passwords.
SECRET_KEY = '' 

# Caching

CACHE_BACKEND = "dummy:///"

# Secret Key, presumably for Cookies

SECRET_KEY = "blahblahblasdlfk;bhkjfdvgbklsdjfgbklsjkhgljsdfhkgdjfskghjf"