# Copy this file to dbsettings.py and edit appropriately

NAME = 'wtfimb'     # The name of the database

##### CHANGE THESE #####

USER = ''           # MySQL user name

PASSWORD = ''       # MySQL user password

########################

# THESE CAN BE LEFT AS THEY ARE
# IF DEVELOPING ON A LOCAL SYSTEM.

HOST = ''            
PORT = ''           

# DEBUG = True to get detailed Debug information
# Set DEBUG = False in production system

DEBUG = True

# Email Settings, for Account Verification
EMAIL_HOST = 'mail.busroutes.in'
EMAIL_HOST_USER = 'account-verify@busroutes.in'
EMAIL_HOST_PASSWORD = ''
