{% extends "layout.html" %}
{% block title %}
Bus Route: {{ route.display_name }} 
{% endblock %}
{% block main %}
<h1>Route: {{ route.display_name }} </h1>
<a target="_blank" href="http://mtcbus.org/Routes.asp?cboRouteCode={{ route.mtc_name }}&amp;submit=Search">Check Official Site</a>
<div id="view">
    <h2>Stops At:</h2>
	{% for s in stages %}
	{% if forloop.first %}
	<b><a href="{% url show-stage s.id %}">{{ s.display_name }}</a></b><br/>
	{% else %}
	{% if forloop.last %}
	<b><a href="{% url show-stage s.id %}">{{ s.display_name }}</a></b><br/>
	{% else %}
	<a href="{% url show-stage s.id %}">{{ s.display_name }}</a><br/>
	{% endif %}
	{% endif %}
	{% endfor %}
</div>
{% endblock %}
