{% extends "layout.html" %}

{% block title %}
Bus Stage: {{ stage.display_name }} 
{% endblock %}

{% block main %}
<span>Route Name: {{ stage.display_name }}</span>
<table id="stages">
	<tr>
		<th>Route</th>
		<th>From</th>
		<th>To</th>
	</tr>
	{% for r in stage.route_set.all %}
	<tr class='route_entry'>
		<td> <a href="{% url basic.views.show_route r.id %}">{{ r.display_name }}</a></td>
		<td> <a href="{% url basic.views.show_stage r.start.id %}">{{ r.start.display_name }}</a></td>
		<td> <a href="{% url basic.views.show_stage r.end.id %}">{{ r.end.display_name }}</a></td>
	</tr>	
	{% endfor %}
</table>
{% endblock %}
