/*for IE*/
html {
	font-size:100%;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0.90em;
	font-family: Helvetica, Arial, sans-serif;/*background-color: #efefff;*/
	color:#000;
}
img{
	border:0px;
}
a{
	outline:none;
	text-decoration:none;
	color:#5fb1ff;
}
a:link,a:visited{
	text-decoration:none;
}
a:hover{
	color:#138cff;
	text-decoration:underline;
}
h1 {
	color: #532406;
	font-size: 2em;
	display:inline;
}
h2 {
	font-size: 1.5em;
}
h3{
	color:#3e3e3e;
	display:inline;
	font-size:1em;
	margin-bottom:5px;
}
table {
	width: 100%;
/*	margin-bottom: 10px;*/
	border-collapse: collapse;
}
table caption {
	margin-top: 10px;
	padding: 0 0 0.5em 3px;
	font: 400 0.8em georgia, sans-serif;
	text-align: left;
}
table th, table td {
	text-align: left;
/*	vertical-align: top;*/
	padding: 0.3em 0.3em;
}
thead th {
	background-color: #F1FFE3;
	border-bottom: 1px solid #B8E78B;
}
thead a{
	font-size:80%;
	text-align:right;
}
tbody tr.dark {
	background-color: #F5F5F5;
}
tbody td {
	border-bottom: 1px solid #DDD;
}
tbody tr:hover {
	background-color: #FBFEDF;
}
#outer>tbody>tr:hover {
	background-color: inherit;
}
input[type=text] {
	padding: 2px;
}
#wrapper {
	margin: 0 auto;
	background-color: #fff;
	text-align: left;
	width: 95%; /*70em around 80% on 1280*/
	position:relative;
}
#topbar {
	/* background-color: #069; */
	/*padding: 0.5em 0.5em 0.5em 0.5em;*/
	margin: 0;
	margin-top:.5em;
	text-align: left;
	height:100px;
	position:relative;	
}
#LoginBar
{
	position:relative;
	float:right;
	top:5px;
	right:5px;
	z-index:2;
	}
	#logo{
		position:relative;
		float:left;
		width:350px;
		top:0px;
		left:0px;
	}
#location {
	color: #FFFFFF;
	background: #000000;
	padding-right: 7px;
	padding-left: 7px;
	font-size:200%;
	position:absolute;
	top:29px;
	left:170px;
}
#location a{
	color: #Fdfdfd;
}
#topbar p {
	margin: 0;
	padding: 0;
}
#topbar .hint {
	color: #d0dcee;
	float: left;
	margin-right: 0.5em;
	line-height: 150%;
}

form {
	padding: 0;
	margin: 0;
}
#topbar h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
#header {
	padding: 0.5em;
	padding-bottom: 0;
}
#header h1, #header h2 {
	margin: 0;
	padding: 0;
}
#page, #header, #footer {
	padding: 0.7em;
}
#page {
	padding-top: 0.4em;
	position:relative;
}
#footer {
	font-size: 0.85em;
	color: #bbb;
	/*border-top: 1px solid #069;
	background-color: #efefff;*/
	margin-top:5%;
	text-align:center;
}
.hilite {
	font-weight: bold;
	background-color: #FBFEDF;
}
.box{
	border: 1px solid #ccc;
	display: inline-table;
	padding: 3px;
	font-size:95%;
	margin-bottom:4px;
	color:black;
	vertical-align:middle;
}
.bus {
	background: #ffa;
}
.page {
	background: #f1dbe8;
}
.journey {
	background: #f1dbe8;
}
.link {
	font-size:70%;
	background: #fefefe;
}
.stop {
	background: #F1FFE3;
}
.bus a, .stop a, .journey a {
	color: #000;
	border: 0;
	text-decoration: none;
}
.bus a:visited, .stop a:visited, .journey a:visited {
	color: #111;
	background: transparent;
}
.bus a:hover, .stop a:hover, .journey a:hover {
	background: transparent;
	text-decoration:underline;
}
.buses {
	line-height: 180%;
}
/* styles for entire widget */
.yui-skin-sam .yui-ac {
	position:relative;
	font-family:arial;
	font-size:100%;
}
/* styles for input field */
.yui-skin-sam .yui-ac-input {
	position:absolute;
	width:100%;
}
/* styles for results container */
.yui-skin-sam .yui-ac-container {
	position:absolute;
	width:100%;
}
/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
	position:absolute;
	width:100%;
	border:1px solid #808080;
	background:#fff;
	overflow:hidden;
	z-index:9050;
}
/* styles for results list */
.yui-skin-sam .yui-ac-content ul {
	margin:0;
	padding:0;
	width:100%;
}
/* styles for result item */
.yui-skin-sam .yui-ac-content li {
	margin:0;
	padding:2px 5px;
	cursor:default;
	white-space:nowrap;
}
#topbardstautocomplete, #topbarsrcautocomplete {
	width: 15em;
	padding-bottom: 2em;
	margin-right: 1em;
	float: left;
}
/* Auto complete on the index page */
#dstautocomplete, #srcautocomplete {
	padding-bottom:2em;
	margin: 1em;
}
#dstautocomplete .yui-ac-input, #srcautocomplete .yui-ac-input {
	font-size: 100%;
}
/* Button styles based on http://particletree.com/features/ rediscovering-the-button-element/ */
button {
	padding: 0.20em;
	margin-left: 1em;
	color: #565656;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
button:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}
#topbar button {
	padding: 0.1em;
	margin: 0;
}
#edit-map  /* Style (size) for the map shown in the Edit-Stage data window */ {
	width:500px;
	height:300px;
}
#map  /* Style (size) for the non-editablemap shown everywhere else */ {
	height:500px;
	width:70%;
	margin-left:30% !important;
	border:1px dashed gray;
}
/*Left column for route details, tables*/
.leftCol {
	float:left;
	width:29%;
	overflow-x:none;
	overflow-y:auto;
	height:500px;
	border:1px dashed gray;
}
.clearfloat {
	clear:both;
	line-height:1px;
}
.mapthis, a:visited.mapthis {
	color: #A3210E;
	display:block;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size:85%;
}
.tableheader {
	font-size:150%;
}
.names {
	font-size:200%;
	font-variant:small-caps;
}
#homeform{
	margin-top:90px;
margin-bottom:50px;
}
	#homeform,#homeform input
	{
	    font-size:28px;!important
	}
	#homeform input[type="text"]
	{
	  width:300px;    	
		height:30px;	
	}
input[type="text"]
	{
		background-color: #f9f9f9;
        color: #000000;
	} 

	tbody tr:hover 
	{
	background-color: #f3f9ff;
  }
.links{
	margin-bottom:10px;
	text-align:center;
}
/*search form*/
#searchform div {
    /* This div will have the left image as a background */
    background: url(search1.gif) no-repeat left top;
    padding: 0 10px;
    margin: 0;
    line-height: 1;
}
#searchform #search {
    /* Im going to apply a top and bottom border to this input so that it fits with my images and give it the gradient background */
    border-top:2px solid #999;
    border-bottom:2px solid #999;
    border-left:0;
    border-right:0;
    background: #fff url(search2.gif) repeat-x top;
    padding: 3px 2px 2px 0;
    height: 15px;
}
#searchform input {
    /* Some reset styles to make my form elements play nice */
    vertical-align: top;
    margin: 0 !important;
    line-height: 1;
    outline:0 !important;
}
/* end earch form*/
#searchbar{
	width:600px;
	height:100px;
	position:absolute;
	top:0px;
	right:0px;
	float:right;
   background: url(/static/images/searchback_new.png);
}

#searchbar desc {
    color:DarkGrey;
    }
#searchbar input[type="text"]{
	border:1px solid gray;
	background:none;
}
#from.search{
	position:absolute;
	top:60px;
	left:40px;
	width:180px;
}
#to.search{
	position:absolute;
	top:60px;
	left:295px;
	width:180px;
}
#submit.search{
	position:absolute;
	top:60px;
	left:500px;
}
#editForm {
    margin-bottom: 10px;
    margin-left:30%;
    position:relative;
    border:1px dashed gray;
    padding:2px;
}
#editForm form{
	display:inline;
}
	
.osmLinks{
	color:black;
	position:absolute;
	right:0px;
	top:0px;
	font-size:130%;
	padding:4px;
	background:#EDDDFF;
}
.softLinks{
	color:black;
	position:absolute;
	right:180px;
	top:0px;
	font-size:130%;
	padding:4px;
	background:#EDDDFF;
}
#helpbar{
	position:relative;
	z-index:2000;
}
#view{

}
/*good looking buttons from http://www.bloggerswatch.com/internet/css-trick-submit-button-should-look-same-everywhere */
.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* REGULAR */

button.regular, .buttons a.regular{
    color:#336699;
}
.buttons a.regular:hover, button.regular:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a.regular:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
