/*for IE*/
html {
	font-size:100%;
}
body {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 0.90em;
	font-family: Helvetica, Arial, sans-serif;/*background-color: #efefff;*/
	color:#000;
}
img{
	border:0px;
}
a {
	text-decoration:none;
	color:#5fb1ff;
}
a:visited {
	color:#3b9fff;
}
a:hover {
	color:#138cff;
}
h1 {
	color: #532406;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
}
table {
	width: 100%;
/*	margin-bottom: 10px;*/
	border-collapse: collapse;
}
table caption {
	margin-top: 10px;
	padding: 0 0 0.5em 3px;
	font: 400 0.8em georgia, sans-serif;
	text-align: left;
}
table th, table td {
	text-align: left;
/*	vertical-align: top;*/
	padding: 0.3em 0.3em;
}
thead th {
	background-color: #F1FFE3;
	border-bottom: 1px solid #B8E78B;
}
tbody tr.dark {
	background-color: #F5F5F5;
}
tbody td {
	border-bottom: 1px solid #DDD;
}
tbody tr:hover {
	background-color: #FBFEDF;
}
#outer>tbody>tr:hover {
	background-color: inherit;
}
input[type=text] {
	padding: 2px;
}
#wrapper {
	margin: 0 auto;
	background-color: #fff;
	text-align: left;
	width: 95%; /*70em around 80% on 1280*/
	position:relative;
}
#topbar {
	/* background-color: #069; */
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin: 0;
	margin-top:.5em;
	text-align: left;
	
}
#topbar span#location {
	color: #FFFFFF;
	background: #000000;
	padding-right: 7px;
	padding-left: 7px;
	font-size:200%;
	position:absolute;
	top:53px;
	left:173px;
}
#location a{
	color: #Fdfdfd;
}
#topbar p {
	margin: 0;
	padding: 0;
}
#topbar .hint {
	color: #d0dcee;
	float: left;
	margin-right: 0.5em;
	line-height: 150%;
}

form {
	padding: 0;
	margin: 0;
}
#topbar h1 {
	margin: 0;
	padding: 0;
	font-size: 1.5em;
}
#header {
	padding: 0.5em;
	padding-bottom: 0;
}
#header h1, #header h2 {
	margin: 0;
	padding: 0;
}
#page, #header, #footer {
	padding: 0.7em;
}
#page {
	padding-top: 0.4em;
}
#footer {
	font-size: 0.85em;
	color: #bbb;
	/*border-top: 1px solid #069;
	background-color: #efefff;*/
	margin-top:5%;
	text-align:center;
}
.hilite {
	font-weight: bold;
	background-color: #FBFEDF;
}
.bus {
	background: #ffa;
	border: 1px solid #ccc;
	display: inline-table;
	padding: 3px;
	font-size:95%;
	margin-bottom:4px;
}
.journey {
	background: #f1dbe8;
	border: 1px solid #ccc;
	display: inline;
	padding: 1px 2px;
}
.stop {
	background: #F1FFE3;
	border-bottom: 1px solid #ccc;
	display: inline;
	padding: 1px 2px;
}
.bus a, .stop a, .journey a {
	color: #000;
	border: 0;
	text-decoration: none;
}
.bus a:visited, .stop a:visited, .journey a:visited {
	color: #111;
	background: transparent;
}
.bus a:hover, .stop a:hover, .journey a:hover {
	background: transparent;
	text-decoration:underline;
}
.buses {
	line-height: 180%;
}
/* styles for entire widget */
.yui-skin-sam .yui-ac {
	position:relative;
	font-family:arial;
	font-size:100%;
}
/* styles for input field */
.yui-skin-sam .yui-ac-input {
	position:absolute;
	width:100%;
}
/* styles for results container */
.yui-skin-sam .yui-ac-container {
	position:absolute;
	width:100%;
}
/* styles for header/body/footer wrapper within container */
.yui-skin-sam .yui-ac-content {
	position:absolute;
	width:100%;
	border:1px solid #808080;
	background:#fff;
	overflow:hidden;
	z-index:9050;
}
/* styles for results list */
.yui-skin-sam .yui-ac-content ul {
	margin:0;
	padding:0;
	width:100%;
}
/* styles for result item */
.yui-skin-sam .yui-ac-content li {
	margin:0;
	padding:2px 5px;
	cursor:default;
	white-space:nowrap;
}
#topbardstautocomplete, #topbarsrcautocomplete {
	width: 15em;
	padding-bottom: 2em;
	margin-right: 1em;
	float: left;
}
/* Auto complete on the index page */
#dstautocomplete, #srcautocomplete {
	padding-bottom:2em;
	margin: 1em;
}
#dstautocomplete .yui-ac-input, #srcautocomplete .yui-ac-input {
	font-size: 100%;
}
/* Button styles based on http://particletree.com/features/ rediscovering-the-button-element/ */
button {
	padding: 0.20em;
	margin-left: 1em;
	color: #565656;
	background-color: #f5f5f5;
	border: 1px solid #dedede;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
}
button:hover {
	background-color: #dff4ff;
	border: 1px solid #c2e1ef;
	color: #336699;
}
#topbar button {
	padding: 0.1em;
	margin: 0;
}
#edit-map  /* Style (size) for the map shown in the Edit-Stage data window */ {
	width:500px;
	height:300px;
}
#map  /* Style (size) for the non-editablemap shown everywhere else */ {
	height:500px;
	width:70%;
	margin-left:30% !important;
	border:1px dashed;
}
/*Left column for route details, tables*/
.leftCol {
	float:left;
	width:30%;
	clear:both;
}
.clearfloat {
	clear:both;
	line-height:1px;
}
.mapthis, a:visited.mapthis {
	color: #A3210E;
	display:block;
	font-weight: bold;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size:85%;
}
.tableheader {
	font-size:150%;
}
.names {
	font-size:250%;
	font-variant:small-caps;
}
#homeform{
	margin-top:90px;
margin-bottom:50px;
}
	#homeform,#homeform input
	{
	    font-size:28px;!important
	}
	#homeform input[type="text"]
	{
	  width:300px;    	
		height:30px;	
	}
input[type="text"]
	{
		background-color: #f9f9f9;
        color: #000000;
	} 

	tbody tr:hover 
	{
	background-color: #f3f9ff;
  }

/* begin css tabs */
/* http://www.barelyfitz.com/projects/tabber/ */

/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
	display:none;
}
.tabberlive {
 margin-top:1em;
 position:absolute;
 top:0px;
 left:40%;
 width:60%;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #EFEFEF;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #000; }
ul.tabbernav li a:visited { color: #000; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #FFF;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
/* end css tabs */


/*search form*/
#searchform div {
    /* This div will have the left image as a background */
    background: url(search1.gif) no-repeat left top;
    padding: 0 10px;
    margin: 0;
    line-height: 1;
}
#searchform #search {
    /* Im going to apply a top and bottom border to this input so that it fits with my images and give it the gradient background */
    border-top:2px solid #999;
    border-bottom:2px solid #999;
    border-left:0;
    border-right:0;
    background: #fff url(search2.gif) repeat-x top;
    padding: 3px 2px 2px 0;
    height: 15px;
}
#searchform input {
    /* Some reset styles to make my form elements play nice */
    vertical-align: top;
    margin: 0 !important;
    line-height: 1;
    outline:0 !important;
}
/* end earch form*/