{% extends "base.html" %}
{% load i18n %}

{% block head %}

{% endblock %}

{% block content %}
{% if msg %}
<br />
	<p class="warning">{{ msg }}</p>
{% endif %}
{% if form2.errors %}
<p class="errors">{% trans "Please correct errors below:" %}<br />
	{% if form2.username.errors %} 
		<span class="error">{{ form2.username.errors|join:", " }}</span>
	{% endif %}
	{% if form2.password.errors %} 
		<span class="error">{{ form2.password.errors|join:", " }}</span>
	{% endif %}
</p>
{% endif %}
<div class="login">

    <form name="fauth" action="{% url user_signin %}" method="post">
        {{ form2.next }}
	<fieldset>
		<legend>{% trans "Sign In Using Your Account ID" %}</legend>
		<div class="form-row"><label for="id_username">{% trans "Username:" %}</label><br />{{ form2.username }}</div>
		<div class="form-row"><label for="id_password">{% trans "Password:" %}</label><br />{{ form2.password }}</div>
        <div class="submit-row"><input type="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
        <div>&nbsp;&nbsp;<a href="{{ sendpw_url }}">{% trans "Lost your password ?" %}</a></div>
	</fieldset>	
</form>

<br />
<form name="fopenid" action="{% url user_signin %}" method="post">
    {{ form1.next }}
	<fieldset>
		<legend>{% trans "Sign In Using Your OpenID" %}</legend>
        <div class="form-row"><label for="id_openid_ul">{% trans "OpenId URL :" %}</label><br />
        <input id="id_openid_url" type="text" class="required openid" style="background-color: #fff; background-image: url(/media/css/images/logo_openid_whitewash.png); background-repeat: no-repeat;"  name="openid_url" maxlength="255" />
        </div>
        <div class="submit-row "><input name="bsignin" type="submit" value="{% trans "Sign in with OPENID" %}"></div>
		
	</fieldset>
</form>	
</div>	
{% endblock %}

