{% extends "city_home.html" %}

{% block ImportantLocations %}
   <a class="box stop" href="/bangalore/stage/3861">Majestic / KBS</a><br/>
	<a class="box stop" href="/bangalore/stage/3862">Shivaji Nagar</a> <br/>
	<a class="box stop" href="/bangalore/stage/3863">Shanti Nagar</a> <br/>
	<a class="box stop" href="/bangalore/stage/3864">Silkboard</a> <br/>
	<a class="box stop" href="/bangalore/stage/3865">BIAL</a> <br/>
{% endblock %}

{% block SpecialRoutes %}
	<a class="box bus" href="/{{ city }}/routes/type/BIAS/">BIAS - Vayu Vajra</a> <br/>
	<a class="box bus" href="/{{ city }}/routes/type/VAJ/">Vajra</a> <br/>
	<a class="box bus" href="/{{ city }}/routes/type/B10/">BIG 10</a> <br/>
	<a class="box bus" href="/{{ city }}/routes/type/ORD/">Ordinary Routes</a> <br/>
{% endblock %}

{% block Contribute %}
	<a class="box page" href="/{{ city }}/mapped/stages">Mapped Stages</a><br/>
	<a class="box page" href="/{{ city }}/unmapped/stages">Unmapped Stages</a><br/>
	<a class="box page" href="/{{ city }}/unmapped/routes">Unmapped Routes</a><br/>
	<a class="box page" href="/{{ city }}/janitor/inconsistent/routes/4">Erroneous Routes</a><br/>
{% endblock %}
