<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.1//EN"
  "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
        <title>{% block title %}Authentication Page template{% endblock %} | Chennai Bus Routes | Busroutes.in </title>
    	<link rel="icon" type="image/png" href="/static/images/bus_icon_16.png" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        This is the base template for all authentication pages used by Django_AuthopenID and Registration modules. All the inherited pages must override this block.
        {% endblock %}
    </body>
</html>
