{% extends "city_home.html" %}

{% block ImportantLocations %}
   <a class="box stop" href="/{{ city }}/stage/2083">C.M.B.T.</a><br/>
	<a class="box stop" href="/{{ city }}/stage/1921">Broadway</a><br/> 
	<a class="box stop" href="/{{ city }}/stage/1885">Central</a><br/> 
	<a class="box stop" href="/{{ city }}/stage/1884">Thiruvanmiyur</a><br/> 
	<a class="box stop" href="/{{ city }}/stage/1939">T Nagar</a><br/> 
	<a class="box stop" href="/{{ city }}/stage/2036">Egmore</a><br/> 
{% endblock %}

{% block SpecialRoutes %}
	<a class="box bus" href="/{{ city }}/routes/type/AC/">AC Volvo Routes</a><br/> 
	<a class="box bus" href="/{{ city }}/routes/type/DLX/">Deluxe Routes</a><br/> 
	<a class="box bus" href="/{{ city }}/routes/type/EXP/">Express Routes</a><br/> 
	<a class="box bus" href="/{{ city }}/routes/type/LSS/">LSS Routes</a><br/> 
	<a class="box bus" href="/{{ city }}/routes/type/MSVC/">M Routes</a><br/> 
	<a class="box bus" href="/{{ city }}/routes/type/ORD/">Ordinary Routes</a><br/> 
	<a class="box bus" href="/{{ city }}/routes/type/NGT/">24hr Night Routes </a><br/> 
{% endblock %}

{% block Contribute %}
	<a class="box page" href="/{{ city }}/mapped/stages">Mapped Stages</a><br/>
	<a class="box page" href="/{{ city }}/unmapped/stages">Unmapped Stages</a><br/>
	<a class="box page" href="/{{ city }}/unmapped/routes">Unmapped Routes</a><br/>
	<a class="box page" href="/{{ city }}/janitor/inconsistent/routes/4">Erroneous Routes</a><br/>
{% endblock %}
