{% extends "layout.html" %}

{% block title %}
{{start_stage.display_name}} to {{ end_stage.display_name }}
{% endblock %}

{% block main %}
<h1>Route from {{ start_stage.display_name }} to {{ end_stage.display_name }}</h1>

<div id="view">
	<div>
		{% for co in changeovers %}
		<h3>
			From:
			<a href="{% url show-stage city co.start_stage.id %}">
				{{ co.start_stage.display_name }}
			</a>
			<br />
			To:
			<a href="{% url show-stage city co.end_stage.id %}">
				{{ co.end_stage.display_name }}
			</a>
		</h3>
		<br />
		Take:
		{% for r in co.routes %}
		<span class="box bus">
		  <a href="{% url show-route city r.slug %}">
				{{ r.display_name }}
				</a> <br />
		</span>
		{% endfor %}
		<hr />
		{% endfor %}
		<hr />
	</div>
</div>
{% endblock %}
