{% extends "layout.html" %}
{% block title %}
Bus Stage: {{ stage.display_name }} 
{% endblock %}
{% block main %}
<h1>Stage: {{ stage.display_name }}</h1>
<div id="view">
	<div>
		<table id="stages">
			<thead>
				<tr>
					<th>Route</th>
					<th>From</th>
					<th>To</th>
				</tr>
			</thead>
            <tbody>
			{% for r in stage.route_set.all %}
			<tr>
				<td> <a href="{% url show-route r.display_name %}">{{ r.display_name }}</a></td>
				<td> <a href="{% url show-stage r.start.id %}">{{ r.start.display_name }}</a></td>
				<td> <a href="{% url show-stage r.end.id %}">{{ r.end.display_name }}</a></td>
			</tr>
			{% endfor %}
            </tbody>
		</table>
	</div>
</div>
{% endblock %}
