{% extends "layout.html" %}

{% block script %}
var lat=13.0456;
var lon=80.232;
var zoom=12;
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var icon = new OpenLayers.Icon("/static/images/bus_stop_22.png",iconSize,iconOffset);
var map;
var marker;
OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {                
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },

                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    ); 
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                }, 

                trigger: function(e) {
                    marker.display(true);
                    var ll = map.getLonLatFromViewPortPx(e.xy);;
                    var xy = map.getLayerPxFromLonLat(ll);
                    xy.y += 11; //Offset, so that center of the marker is placed where the user clicked
                    marker.moveTo(xy);
                    ll.transform(map.getProjectionObject(),new OpenLayers.Projection("EPSG:4326"));
                    document.getElementById("id_latitude").value = ll.lat;
                    document.getElementById("id_longitude").value = ll.lon;
                }

            });
$(document).ready(function() {
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
            var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Openstreetmap Mapnik");
            var layerOsmarender = new OpenLayers.Layer.OSM.Osmarender("Openstreetmap Osmarender");
            var layerGmap = new OpenLayers.Layer.Google("Google", {sphericalMercator:true});
	var layerStages = new OpenLayers.Layer.Markers("Stages");
            map.addLayer(layerMapnik);
            map.addLayer(layerOsmarender);
            map.addLayer(layerGmap);
            map.addLayer(layerStages);
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
            map.setCenter(lonLat,zoom);
            {% if stage.location %}
              lat = {{ stage.location.y }};
              lon = {{ stage.location.x }};      
              lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
              marker = new OpenLayers.Marker(lonLat,icon.clone());
              layerStages.addMarker(marker);
              zoom = 17;
            {% else %}
              lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
              marker = new OpenLayers.Marker(lonLat,icon.clone());
              layerStages.addMarker(marker);
              marker.display(false);
            {% endif %}
            map.setCenter (lonLat, zoom);
            var click = new OpenLayers.Control.Click();
            map.addControl(click);
            click.activate()
    });
function resetForm() {
    document.getElementById("id_latitude").value = lat;
    document.getElementById("id_longitude").value = lon;
    var ll = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
    var xy = map.getLayerPxFromLonLat(ll);
    xy.y += 11; //Offset, so that center of the marker is placed where the user clicked
    marker.moveTo(xy);
}

{% endblock %}

{% block title %}
Bus Stage: {{ stage.display_name }} 
{% endblock %}

{% block main %}
<h1 class="names">Stage: {{ stage.display_name }}</h1>
{% if user.is_authenticated %}
<a class="edit" target="_blank" href="/admin/stages/stage/{{ stage.id }}/">Edit</a>
<div id="editForm">
	<form action="" method="POST">
		<label for="id_latitude">Latitude:</label>
		{{ form.latitude }}
		<label for="id_longitude">Longitude:</label>
		{{ form.longitude }}
		<input type="submit" value="Update" />
		<input type="button" value="Reset" onclick="resetForm();" />
	</form>
</div>
	{% endif %}
	<a class="osmLinks" target='_blank' href="http://www.openstreetmap.org/?lat={{ stage.location.y }}&amp;lon={{ stage.location.x }}&amp;zoom=17">Edit the Map! &rarr;</a>

<div id="view">
	<div class="leftCol">
		<table id="stages">
			<thead>
				<tr>
					<th>Route</th>
					<th>From</th>
					<th>To</th>
				</tr>
			</thead>
            <tbody>
			{% for r in stage.route_set.all %}
			<tr class='route_entry'>
				<td> <a href="{% url show-route r.display_name %}">{{ r.display_name }}</a></td>
				<td> <a href="{% url show-stage r.start.id %}">{{ r.start.display_name }}</a></td>
				<td> <a href="{% url show-stage r.end.id %}">{{ r.end.display_name }}</a></td>
			</tr>
			{% endfor %}
            </tbody>
		</table>
	</div>
	<div id="map" ></div>
	<div class="clearfloat"></div>
</div>
{% endblock %}
