{% extends "layout.html" %}

{% block script %}
var lat=13.0456
var lon=80.232
var zoom=12
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var icon = new OpenLayers.Icon("/static/img/bus_stop_22.png",iconSize,iconOffset);
var map;
var layerStages;

$(document).ready(function() {
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
            var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Chennai");
            layerStages = new OpenLayers.Layer.Markers("Stages");
            map.addLayer(layerMapnik);
            map.addLayer(layerStages);
            var points = [];
            {% for s in mapped_stages %}
                var tempLat = {{s.latitude}};
                var tempLon = {{s.longitude}};
                addStage(tempLat, tempLon, {{s.id}});
            {% endfor %}
            map.zoomToExtent(layerStages.getDataExtent());            
    });

function addStage(lat,lon,id) {
    var marker = new OpenLayers.Marker(new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()), icon.clone());
    marker.events.register("click", marker, function(e){
        window.location="/view/stage/"+id; });
    layerStages.addMarker(marker);
}

{% endblock %}

{% block title %}
Currently Unmapped: {{ unmapped_stages.count }} Stages
{% endblock %}

{% block main %}
<h1>List of Unmapped Stages</h1>
<div id="view">
<div class="leftCol">
                <table id="stages">
                    <tr>
                        <th>Stage</th>
                    </tr>	{% for us in unmapped_stages %}
                    
                    <tr class='route_entry'>
                    <td>
	
  <a href="{% url main.views.show_stage us.id %}">{{us.display_name}}</a>	<a class="mapthis" href="{% url main.views.show_stage us.id %}">Map This Stage!</a></td>
  
  </tr>	
	{% endfor %}
      </table></div>
      
    
    <div id="map"></div><div class="clearfloat"</div></div>
{% endblock %}
