<!DOCTYPE html>
<!-- This is used as a template by authentication Pages only -->
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Login/Register Page</title>
        <!--[if IE]>

        <script>
            // allow IE to recognize HTMl5 elements
            document.createElement('section');
            document.createElement('article');
            document.createElement('aside');
            document.createElement('footer');
            document.createElement('header');
            document.createElement('nav');
            document.createElement('time');

        </script>
        <![endif]-->
        {% if request.is_secure %}
        <meta http-equiv="X-XRDS-Location" content="https://{{ request.get_host }}{% url oid_xrdf %}" />
        {% else %}
        <meta http-equiv="X-XRDS-Location" content="http://{{ request.get_host }}{% url oid_xrdf %}" />  
        {% endif %}

        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/Authentication/base.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}/css/Authentication/openid.css" />
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header id="top">
            <h1>Login/Register</h1>
        </header>
        
        {% block content %}{% endblock %}
        
        <script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery-1.3.2.min.js"></script>

    	{% block extra_scripts %}{% endblock %}
    </body>
</html>
