{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block script %}
var stages=Array();
var data;
$(document).ready(function(){
	$.getJSON("{% url wtfimb.api.views.autocomplete_stages %}", function(json){
		data = json;
		jQuery.each(json, function(k,v) { stages.push(k); });
		$("#from").autocomplete(stages);
		$("#to").autocomplete(stages);
	});

	$("#submit").click(function(){
		var fromId = data[$("#from").val()];
		var toId = data[$("#to").val()];
		top.location = "/path/" + fromId + "/" + toId;
	});
});
{% endblock %}

{% block title %}
Home 
{% endblock %}

{% block main %}

<form id="homeform">
	<table>
		<tbody>
			<tr>
				<td>From</td>
				<td><input type="text" id="from" /> </td>

				<td>To</td>
				<td><input type="text" id="to" /> </td>

				<td><input type="button" id="submit" value="Find Route!"/></td>
			</tr>
		</tbody>
	</table>
</form>
{% endblock %}
