{% extends "layout.html" %}

{% block style %}
#searchbar {
display: none;
}
{% endblock %}

{% block script %}
var stages=Array();
var data;
$(document).ready(function(){
	$.getJSON("{% url api.views.autocomplete_stages %}", function(json){
		data = json;
		jQuery.each(json, function(k,v) { stages.push(k); });
		$("#from").autocomplete(stages,{autoFill:true});
		$("#to").autocomplete(stages, {autoFill:true});
	});

   $("#from").keyup( function() {
      if($(this).val()=="") { 
         $("#to").attr("disabled","disabled");
         $("#from").css("background-color","#efe");
         $("#to").css("background-color","#ddd");
         $("#submit").attr("disabled", "disabled");
      }
      else
      {
         $("#from").css("background-color","#fff");
         $("#to").css("background-color","#efe");
         $("#to").removeAttr("disabled");       
         $("#submit").removeAttr("disabled");
      }
   });
   $("#to").keyup( function() {
      if($(this).val()=="") { 
         $("#submit").attr("value","Goto Stage!");
      }
      else {
         $("#submit").attr("value","Find Route!");
      }
   });
	$("#submit").click(function(){
      var fromId = data[$("#from").val()];
      var toId = data[$("#to").val()];
      if(fromId==null) {
		   alert("Invalid Stage Name: \""+$("#from").val()+"\"\nChoose any one of the suggested stage names.");
		   return;
      }
		if (toId==null) {
		   top.location = "/chennai/stage/" + fromId;
		   return;
		}
		top.location = "/chennai/path/" + fromId + "/" + toId;
	});
   $("#from").keyup();
   $("#to").keyup();

});
{% endblock %}

{% block title %}
Home 
{% endblock %}

{% block main %}

<form id="homeform" action="#">
	<table>
		<tbody>
			<tr>
				<td>From</td>
				<td><input type="text" id="from" /> </td>
				<td>To</td>
				<td><input type="text" id="to" /> </td>
				<td><input type="button" id="submit"/></td>
			</tr>
		</tbody>
	</table>
</form>
<div class="links"> 
	<h3>Important Locations</h3> 
	<a class="box stop" href="/chennai/stage/2083">C.M.B.T.</a>
	<a class="box stop" href="/chennai/stage/1921">Broadway</a> 
	<a class="box stop" href="/chennai/stage/1885">Central</a> 
	<a class="box stop" href="/chennai/stage/1884">Thiruvanmiyur</a> 
	<a class="box stop" href="/chennai/stage/1939">T Nagar</a> 
	<a class="box stop" href="/chennai/stage/2036">Egmore</a> 

</div> 
<div class="links"> 
	<h3>Special Routes</h3> 
	<a class="box bus" href="/chennai/routes/type/AC/">AC Volvo Routes</a> 
	<a class="box bus" href="/chennai/routes/type/D/">Deluxe Routes</a> 
	<a class="box bus" href="/chennai/routes/type/X/">Express Routes</a> 
	<a class="box bus" href="/chennai/routes/type/LSS/">LSS Routes</a> 
	<a class="box bus" href="/chennai/routes/type/M/">M Routes</a> 
	<a class="box bus" href="/chennai/routes/type/O/">Ordinary Routes</a> 
	<a class="box bus" href="/chennai/routes/type/N/">24hr Night Routes </a> 
	</div> 
<div class="links">
	<h3>Contribute</h3>
	<a class="box page" href="/chennai/mapped/stages">Mapped Stages</a>
	<a class="box page" href="/chennai/unmapped/stages">Unmapped Stages</a>
	<a class="box page" href="/chennai/unmapped/routes">Unmapped Routes</a>
	<a class="box page" href="/chennai/janitor/inconsistent/routes/4">Erroneous Routes</a>
</div>
{% endblock %}
