<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN" "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.0" xml:lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="robots" content="noindex">
	<meta name="description" content="Find busroutes in major Indian cities" />
	<meta name="keywords" content="public transport, bus routes, train routes, bus maps, chennai, delhi" />
	<style type="text/css">
		#twin_sites{
		    text-align:center;
		}
	   .menatwork {
         text-align: center;
         font-size: x-small;
         color: #f00;
      }
		{% block style %}
		{% endblock %}
	</style>
	<link rel="icon" type="image/png" href="/static/images/bus_icon_16.png" />
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
	<link rel="stylesheet" href="/static/css/jquery.autocomplete.css" type="text/css" />
	
	<script type="text/javascript" src="/static/js/OpenLayers.js"></script>
	<script type="text/javascript" src="/static/js/jquery-1.3.2.min.js" > </script>
	<script type="text/javascript" src="/static/js/OpenStreetMap.js"></script>
	<script type="text/javascript" src="/static/js/jquery.autocomplete.pack.js"></script>
   <script type="text/javascript">
	   var stages=Array();
      var data;
      $(document).ready(function(){
      	$.getJSON("{% if city %} {% url api.views.autocomplete_stages city %} {% endif %}", function(json){
		      data = json;
      		jQuery.each(json, function(k,v) { stages.push(k); });
   		   $("#from").autocomplete(stages,{autoFill:true});
   		   $("#to").autocomplete(stages, {autoFill:true});
            if($("#from").val()=="") { 
               $("#from").focus();
            }
            else {
               $("#to").focus();
            }
	      });
         $("#from").keydown( function() {
            if($(this).val()=="") { 
               $("#to").attr("disabled","disabled");
               $("#from").css("background-color","#efe");
               $("#to").css("background-color","#ddd");
               $("#submit").attr("disabled", "disabled");
            }
            else
            {
               $("#from").css("background-color","#fff");
               $("#to").css("background-color","#efe");
               $("#to").removeAttr("disabled");       
               $("#submit").removeAttr("disabled");
            }
         });
         $("#to").keydown( function() {
            if($(this).val()=="") { 
               $("#submit").attr("value","Goto Stage!");
            }
            else {
               $("#submit").attr("value","Find Route!");
            }
         });
	      $("#submit").click(function(){
            var fromId = data[$("#from").val()];
            var toId = data[$("#to").val()];
            if(fromId==null) {
		         alert("Invalid Stage Name: \""+$("#from").val()+"\"\nChoose any one of the suggested stage names.");
		         return;
            }
		      if ($("#to").val()== '') {
   		      top.location = "/{{ city }}/stage/"+fromId+"/";
            }
            else if(toId==null) {
               alert("Invalid Stage Name: \""+$("#to").val()+"\"\nChoose any one of the suggested stage names.");
		         return;
		      }
		      else {
   		      top.location = "/{{ city }}/path/" + fromId + "/" + toId;
		      }
   	   });
         $("#from").keydown();
         $("#to").keydown();
      });
   </script>
	<script type="text/javascript">
		{% block script %}
		{% endblock %}
	</script>
	<title>{% block title %} {% endblock %} | {{ city }} Bus Routes | Busroutes.in
	</title>
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-970897-3");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</head>
<body>
<div id="wrapper">
  <div id="topbar">
    <div id="logo"> <a href="/"><img alt="Find Bus Routes in" src="/static/images/header.png" /></a> {% if city %}<span id="location"><a href="/{{ city }}">{{ city|capfirst }}!</a></span>{% endif %} </div>
    <div id="LoginBar"> {% if user.is_authenticated %}
      Hi, <strong><a href="/account/settings/">{{ user.username }}</a> | </strong><a href="/account/signout?next={{request.get_full_path}}">Logout</a> {% else %} <a href="/account/signin/?next={{request.get_full_path}}">Log In</a> | <a href="/account/signup/?next={{request.get_full_path}}">Register</a> {% endif %} </div>
    {% block search_override %}  
    <form id="search" action="javascript: document.search.submit.click();">
      <div id="searchbar">
	     <input type="text" id="from" class="search" />
        <input type="text" id="to" class="search" />
        <input type="submit" id="submit" class="search"/>
      </div>
    </form>
    {% endblock %}
  </div>
  <div class="menatwork">Men at Work</div>
  <div id="page"> {% block main %}
    {% endblock %} </div>
    <br>
    <br>
  <!--div id="twin_sites"><a href="http://m.busroutes.in/{{city}}">Mobile</a> | HTML</div-->
  <hr/>
  <div id="footer"> <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/in/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.5/in/88x31.png" /></a><br />
    <span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">India Bus Route Mapping Project</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="/" property="cc:attributionName" rel="cc:attributionURL">Busroutes.in</a> is licensed under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/in/">Creative Commons Attribution-Share Alike 2.5 India License</a>.<br />
    <a href="http://wiki.github.com/yuvipanda/wtfimb" >Project Wiki</a> | <a href="http://github.com/yuvipanda/wtfimb/issues"> File Bugs </a> | <a href="mailto:busroutesin@gmail.com" >Contact </a>| <a href="http://www.twitter.com/busroutesin">Latest News</a><br />
    <a href="http://validator.w3.org/check/referer">XHTML+RDF</a> <a href="http://jigsaw.w3.org/css-validator/check/referer?profile=css3">.</a> </div>
</div>
</body>
</html>
