{% extends "layout.html" %}
 
{% block title %}
Routes with unmapped stages: {{ unmapped_routes.count }} Routes
{% endblock %}
 
{% block main %}
<h1>List of Routes with unmapped Stages</h1>
<div id="view">
	<div class="leftCol">
		<table id="stages">
			<thead>
				<tr>
					<th>Routes</th>
				</tr>
			</thead>
			{% for ur in unmapped_routes %}
			<tr class='route_entry'>
				<td>
					<a href="{% url show-route city ur.display_name %}">
						{{ur.display_name}}
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div id="map"></div>
	<div class="clearfloat"></div>
</div>
{% endblock %}
