{% extends "layout.html" %}

{% block script %}
var lat=13.0456;
var lon=80.232;
var zoom=12;
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var iconSize = new OpenLayers.Size(22,22);
var iconOffset = new OpenLayers.Pixel(-(iconSize.w/2), -iconSize.h);
var icon = new OpenLayers.Icon("/static/img/bus_stop_22.png",iconSize,iconOffset);
var map;
var editMarker = null;
var editLL = null;
var layerStages;
var edit = 0; //Check if a stage is already being edited 0-no 1-yes

// Change info below to style the route line
var style_black = {
    strokeColor: "#000000",
    strokeOpacity: 0.5,
    strokeWidth: 4,
    strokeDashstyle: "solid",
    pointRadius: 15,
    pointerEvents: "visiblePainted"
                };

OpenLayers.Control.Click = OpenLayers.Class(OpenLayers.Control, {                
                defaultHandlerOptions: {
                    'single': true,
                    'double': false,
                    'pixelTolerance': 0,
                    'stopSingle': false,
                    'stopDouble': false
                },

                initialize: function(options) {
                    this.handlerOptions = OpenLayers.Util.extend(
                        {}, this.defaultHandlerOptions
                    );
                    OpenLayers.Control.prototype.initialize.apply(
                        this, arguments
                    ); 
                    this.handler = new OpenLayers.Handler.Click(
                        this, {
                            'click': this.trigger
                        }, this.handlerOptions
                    );
                }, 

                trigger: function(e) {
                    editLL = map.getLonLatFromViewPortPx(e.xy);
                    var xy = map.getLayerPxFromLonLat(editLL);
                    xy.y += 11; //Offset, so that center of the marker is placed where the user clicked
                    if(editMarker == null) {
                        editMarker = new OpenLayers.Marker(editLL,icon.clone());
                        layerStages.addMarker(editMarker);
                    }
                    editMarker.moveTo(xy);
                    editLL.transform(map.getProjectionObject(),new OpenLayers.Projection("EPSG:4326"));
                }

            });

var click = new OpenLayers.Control.Click();

$(document).ready(function() {
            map = new OpenLayers.Map ("map", {
                controls:[
                    new OpenLayers.Control.Navigation(),
                    new OpenLayers.Control.PanZoomBar(),
                    new OpenLayers.Control.Attribution(),
                    new OpenLayers.Control.LayerSwitcher()],
                maxExtent: new OpenLayers.Bounds(-20037508.34,-20037508.34,20037508.34,20037508.34),
                maxResolution: 156543.0399,
                numZoomLevels: 19,
                units: 'm',
                projection: new OpenLayers.Projection("EPSG:900913"),
                displayProjection: new OpenLayers.Projection("EPSG:4326")
            } );
                    
            var layerMapnik = new OpenLayers.Layer.OSM.Mapnik("Openstreetmap Mapnik");
            var layerOsmarender = new OpenLayers.Layer.OSM.Osmarender("Openstreetmap Osmarender");
            var layerGmap = new OpenLayers.Layer.Google("Google", {sphericalMercator:true});
            layerStages = new OpenLayers.Layer.Markers("Stages");
            var layerRoute = new OpenLayers.Layer.Vector("Route");
            map.addLayer(layerMapnik);
            map.addLayer(layerOsmarender);
            map.addLayer(layerGmap);
            map.addLayer(layerRoute);
            map.addLayer(layerStages);
            
            // create an overview map control with the default options http://openlayers.org/dev/examples/overviewmap.html
		        var overview1 = new OpenLayers.Control.OverviewMap();
		        map.addControl(overview1);        
                
            var points = [];
            {% for s in stages %}
                {% if s.latitude %}
                    var tempLat = {{s.latitude}};
                    var tempLon = {{s.longitude}};
					addStage(tempLat, tempLon, {{s.id}}, '{{s.display_name}}');
                    points.push(new OpenLayers.Geometry.Point(tempLon, tempLat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()));
                {% endif %}
            {% endfor %}
            layerRoute.addFeatures(new OpenLayers.Feature.Vector(new OpenLayers.Geometry.LineString(points),null,style_black));
            map.zoomToExtent(layerRoute.getDataExtent());
            var lonLat = new OpenLayers.LonLat(lon, lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject());
	});

function addStage(lat,lon,id, name) {
    var marker = new OpenLayers.Marker(new OpenLayers.LonLat(lon,lat).transform(new OpenLayers.Projection("EPSG:4326"), map.getProjectionObject()), icon.clone());
    marker.events.register("mouseover", marker, function(e){
		window.status = name;
		OpenLayers.Event.stop(e);
		});
		marker.events.register("mouseout", marker, function(e){
		window.status = ' ';
		OpenLayers.Event.stop(e);
		});
	marker.events.register("mousedown", marker, function(e){
		window.location = "/chennai/stage/" + id;
		OpenLayers.Event.stop(e);
		});
    layerStages.addMarker(marker);
}

function enableMapClick(enable) {
    if(enable == 1) {
        map.addControl(click);
        click.activate();
    } else {
        map.removeControl(click);
        click.deactivate();
    }
}

function updateStage(stage_id) {
    enableMapClick(0);
    document.getElementById(stage_id).innerHTML = '<a class="mapthis" >Please Reload the page to see your changes.</a>';
    if (editMarker != null){
	$.post("/chennai/stage/"+stage_id+"/", { latitude: editLL.lat, longitude: editLL.lon, redirect: 'false' } );
        editMarker = null
    }
    edit = 0;
}

function editStage(id) {
    if(edit == 1 ) {
        alert("You seem to be mapping another stage. Please finish that first!");
    }
    else {
        edit = 1;
        document.getElementById(id).innerHTML = '<a class="mapthis" href="#" onClick="return updateStage('+id+')" >Place the Marker correctly, and click here to update.</a>';
        editMarker = null;
        enableMapClick(1);

    }
}

{% endblock %}

{% block title %}
Bus Route: {{ route.display_name }} 
{% endblock %}

{% block main %} 
<h1 class="names">Route: {{ route.display_name }} </h1>
<a class="edit" target="_blank" href="http://www.busroutes.in/admin/appmodels/route/{{ route.id }}/">Edit</a>/<a class="view" target="_blank" href="http://mtcbus.org/Routes.asp?cboRouteCode={{ route.mtc_name }}&submit=Search">Check Official Site</a>
<div id="view">
	<div class="leftCol">
		<table id="stages">
			<thead>
				<tr>
					<th>Stops At: <a href=#>(Reverse Direction)</a></th>
				</tr>
			</thead>
			{% for s in stages %}
			<tr class='stageentry'>
				<td><a href="{% url main.views.show_stage s.id %}">{{ s.display_name }}</a> {% if not s.latitude %} <span id = "{{ s.id }}" ><a class="mapthis" href="#" onClick="return editStage({{ s.id }});" >Map this Stage!</a></span> {% endif %} </td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div id="map" ></div>
	<div class="clearfloat"></div>
</div>
{% endblock %}
