{% extends "layout.html" %}

{% block title %}
Stages with unmapped routes: {{ unmapped_routes.count }} Stages
{% endblock %}

{% block main %}
<h1>List of Unmapped Stages</h1>
<div id="view">
<div class="leftCol">
                <table id="stages">
                    <tr>
                        <th>Routes</th>
					</tr>	
					{% for ur in unmapped_routes %}
                    
                    <tr class='route_entry'>
                    <td>
	
						<a href="{% url main.views.show_route ur.id %}">
							{{ur.display_name}}
					</a>
				</td>
  
  </tr>	
	{% endfor %}
      </table></div>
      
    
    <div id="map"></div><div class="clearfloat"</div></div>
{% endblock %}
