{% extends "layout.html" %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block title %}
Inconsistent Routes
{% endblock %}

{% block main %}
Total Inconsistencies found: {{ inconsistencies|length }}
<table>
	<thead>
		<tr><th>Admin</th><th>Route</th><th>Errenous Stage</th><th>Error (Km)</th>
		</tr>
	</thead>
{% for ic in inconsistencies %}
    <tr>
    	<td>
            <a href="/admin/appmodels/route/{{ic.route.id}}">Edit</a>
        </td>
        <td>
            <a href="/chennai/route/{{ic.route.id }}">{{ic.route.display_name}}</a>
        </td>
        <td>
            <a href="/chennai/stage/{{ic.stage.id }}">{{ic.stage.display_name}}</a>
        </td>
        <td>
        	{{ic.distance}}
        </td>
{% endfor %}
</table>

{% endblock %}
