<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<%= stylesheet_link_tag 'style' %>
<title><%= @title %> | Bus Routes for Chennai</title>
</head>
<body>
<div id="wrapper">
      <div id="topbar">

        <h1><a href="http://www.busroutes.in">BusRoutes.in</a><a href="/chennai/index.php/home"><span id="location">/Chennai</span> - Find public transport routes in Chennai</a></h1>
        <div id=""><a href="http://busroutes.in/trac/wiki">Learn more about the BusRoutes.in community project</a></div>
      </div>
      <div id="page">
      	<%= yield %>
      </div>
      <div id="footer">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/in/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/2.5/in/88x31.png" /></a><br /><span xmlns:dc="http://purl.org/dc/elements/1.1/" href="http://purl.org/dc/dcmitype/Text" property="dc:title" rel="dc:type">India Bus Route Mapping Project</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://busroutes.in" property="cc:attributionName" rel="cc:attributionURL">Busroutes.in</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.5/in/">Creative Commons Attribution-Share Alike 2.5 India License</a>.
      </div>
</div>
</body>
</html>
